@keyframes splide-loading {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(1turn)
    }
}

.splide__track--draggable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.splide__track--fade>.splide__list>.splide__slide {
    margin: 0 !important;
    opacity: 0;
    z-index: 0
}

.splide__track--fade>.splide__list>.splide__slide.is-active {
    opacity: 1;
    z-index: 1
}

.splide--rtl {
    direction: rtl
}

.splide__track--ttb>.splide__list {
    display: block
}

.splide__container {
    box-sizing: border-box;
    position: relative
}

.splide__list {
    backface-visibility: hidden;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important
}

.splide.is-initialized:not(.is-active) .splide__list {
    display: block
}

.splide__pagination {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    pointer-events: none
}

.splide__pagination li {
    display: inline-block;
    line-height: 1;
    list-style-type: none;
    margin: 0;
    pointer-events: auto
}

.splide:not(.is-overflow) .splide__pagination {
    display: none
}

.splide__progress__bar {
    width: 0
}

.splide {
    position: relative;
    visibility: hidden
}

.splide.is-initialized,
.splide.is-rendered {
    visibility: visible
}

.splide__slide {
    backface-visibility: hidden;
    box-sizing: border-box;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    list-style-type: none !important;
    margin: 0;
    position: relative
}

.splide__slide img {
    vertical-align: bottom
}

.splide__spinner {
    animation: splide-loading 1s linear infinite;
    border: 2px solid #999;
    border-left-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    bottom: 0;
    contain: strict;
    display: inline-block;
    height: 20px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px
}

.splide__sr {
    clip: rect(0 0 0 0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.splide__toggle.is-active .splide__toggle__play,
.splide__toggle__pause {
    display: none
}

.splide__toggle.is-active .splide__toggle__pause {
    display: inline
}

.splide__track {
    overflow: hidden;
    position: relative;
    z-index: 0
}

.splide__spinner {
    -webkit-animation: gradient 2s ease infinite;
    animation: gradient 2s ease infinite;
    background-color: var(--background-main);
    background-image: var(--gradient-loading-outcome);
    background-size: 400% 400%;
    border: none;
    border-radius: 0;
    height: 100%;
    width: 100%
}

.splide__spinner:after,
.splide__spinner:before {
    -webkit-animation: gradient 2s ease infinite;
    animation: gradient 2s ease infinite;
    background-image: var(--gradient-loading);
    background-size: 400% 400%;
    border-radius: 100px;
    content: "";
    height: 8px;
    left: 16px;
    position: absolute
}

.splide__spinner:before {
    top: 20px;
    width: 120px
}

.splide__spinner:after {
    top: 36px;
    width: 72px
}

.splide:not(.splide--grid) .splide__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0 100%
    }

    50% {
        background-position: 100% 50%
    }

    to {
        background-position: 0 50%
    }
}

@keyframes gradient {
    0% {
        background-position: 0 100%
    }

    50% {
        background-position: 100% 50%
    }

    to {
        background-position: 0 50%
    }
}

.slider-button {
    display: none
}

@media (min-width:1280px) {
    .slider-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        top: 50%;
        z-index: 2;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        background-color: var(--control-always-white);
        border-radius: 100%;
        color: var(--icon-main);
        height: 40px;
        justify-content: center;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: color .3s ease, opacity .1s ease, visibility .1s ease;
        transition: color .3s ease, opacity .1s ease, visibility .1s ease;
        width: 40px
    }
}

@media(min-width:1280px)and (hover:hover)and (pointer:fine) {
    .slider-button:hover {
        color: var(--icon-hover)
    }
}

@media (min-width:1280px) {
    .slider-button[disabled] {
        opacity: 0;
        visibility: hidden
    }

    .slider-button--prev {
        left: 8px;
        right: auto
    }

    :host([dir=rtl]) .slider-button--prev,
    [dir=rtl] .slider-button--prev {
        left: auto
    }

    :global(html[dir=rtl]) .slider-button--prev {
        left: auto
    }

    :host-context([dir=rtl]) .slider-button--prev {
        left: auto
    }

    :host([dir=rtl]) .slider-button--prev,
    [dir=rtl] .slider-button--prev {
        right: 8px
    }

    :global(html[dir=rtl]) .slider-button--prev {
        right: 8px
    }

    :host-context([dir=rtl]) .slider-button--prev {
        right: 8px
    }

    .slider-button--next {
        left: auto;
        right: 8px
    }

    :host([dir=rtl]) .slider-button--next,
    [dir=rtl] .slider-button--next {
        right: auto
    }

    :global(html[dir=rtl]) .slider-button--next {
        right: auto
    }

    :host-context([dir=rtl]) .slider-button--next {
        right: auto
    }

    :host([dir=rtl]) .slider-button--next,
    [dir=rtl] .slider-button--next {
        left: 8px
    }

    :global(html[dir=rtl]) .slider-button--next {
        left: 8px
    }

    :host-context([dir=rtl]) .slider-button--next {
        left: 8px
    }
}