.v-enter-active[data-v-30a27a76],.v-leave-active[data-v-30a27a76] {
    transition: opacity .3s ease-out,transform .3s ease-out
}

.v-enter-from[data-v-30a27a76],.v-leave-to[data-v-30a27a76] {
    opacity: 0;
    transform: scale(2)
}

.button-support {
    display: inline-flex;
    height: 30px;
    background: linear-gradient(0deg, #fde500ff 0%, rgb(253, 202, 0) 100%);
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    min-width: 30px;
    border: none;
    cursor: pointer;
    color: #f2008d;
    border-radius: 5px;
    padding: 0px;
    margin-left: 10px;
}

.button-support>img {
    width: 28px;
}

.apigames-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    margin: 0 auto;
    background: rgb(46 39 0 / 85%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9991;
    font-family: "principal", Arial, sans-serif;
    color: #FFF;
    font-size: 13px;
}

.apigames-popup-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.apigames-popup .apigames-popup-content {
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #020711;
    max-height: calc(100vh - 32px);
    height: auto;
    max-width: 550px;
    min-width: 550px;
    min-height: 180px;
    border-radius: 20px;
    overflow: auto;
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 50%);
}

@media (max-width: 560px) {
    .apigames-popup .apigames-popup-content {
        max-width: calc(100% - 20px);
        max-height: calc(100% - 20px);
        min-width: calc(100% - 20px);
        width: 100%;
        max-height: -webkit-fill-available;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.apigames-popup .apigames-popup-content-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
}

.apigames-popup .apigames-popup-content-header .close {
    width: 30px;
    position: absolute;
    margin: 0;
    padding: 0;
    right: 15px;
    top: 15px;
    color: #ffffff;
    cursor: pointer;
}

.apigames-popup .apigames-popup-content-header .close>svg {
    fill: currentcolor;
    color: white;
}

.apigames-pl20 {
    padding-left: 20px;
}

.apigames-pr20 {
    padding-right: 20px;
}
.apigames-pb20 {
    padding-bottom: 20px;
}

.gradient-title {
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    flex-direction: row;
    min-width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    font-weight: 700;
    display: flex;
}

.gradient-title-lateral {
    align-items: center;
    width: 100%;
    display: flex;
    margin: 7px;
}

.gradient-title-left>div {
    background: linear-gradient(270deg, rgb(255, 255, 255), rgba(0, 0, 0, 0) 80%);
}

.gradient-title-right>div {
    background: linear-gradient(90deg, rgb(255, 255, 255), rgba(0, 0, 0, 0) 80%);
}

.gradient-title-lateral>div {
    width: 100%;
    height: 5px;
}

.gradient-title-no-wrap {
    text-wrap: nowrap;
}

.modal-content-support-network {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

.modal-content-support-network>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.btn-copy {
    padding-block: 1px;
    padding-inline: 6px;
    display: inline-flex;
    height: 30px;
    background: linear-gradient(0deg, rgb(152, 152, 152), white);
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    border: none;
    cursor: pointer;
    color: black;
    border-radius: 5px;
}

.modal-content-support-network img {
    width: 20px;
    margin-right: 10px;
}

.btn-support-close {
    text-transform: uppercase;
    cursor: pointer;
    min-width: 100px;
    height: 30px;
    background: linear-gradient(0deg, #fde500ff 0%, rgb(253, 202, 0) 100%);
    justify-content: center;
    align-items: center;
    font-weight: 700;
    display: inline-flex;
    border-radius: 5px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    text-decoration: none;
    color: #000;
}

.full-width {
    width: 100%;
}

.margin-top-3em {
    margin-top: 3rem;
}

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    max-width: 80vw;
    width: 80vw;
    font-size: 12px;
    font-family: "principal", Arial, sans-serif;
}

.alert-success {
    color: #1d4e10;
    background-color: #c3ffd8;
    border-color: #46be39;
}

#success-alert, #error-alert {
    display: none;
    z-index: 9999;
    right: 0;
    margin: 60px 0 0;
    border-radius: .4rem !important;
    position: fixed;
    top: 30px;
    left: 10vw;
}

@media (max-width: 768px) {
    #success-alert, #error-alert {
        margin: 0;
    }
}

.game-iframe-view_gameIframeWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 1500px;
    margin: 0 auto
}

@media(max-width: 992px) {
    .game-iframe-view_gameIframeWrapper {
        background-color: #000217;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100000
    }
}

.game-iframe-view_gameIframeWrapper.game-iframe-view_default {
    aspect-ratio: 1125/635;
    max-width: 1125px
}

@media(max-width: 992px) {
    .game-iframe-view_gameIframeWrapper.game-iframe-view_default {
        aspect-ratio: inherit;
        max-width: inherit
    }
}

.game-iframe-view_gameIframeWrapper.game-iframe-view_tvbet {
    max-width: 1500px;
    aspect-ratio: 1500/847
}

@media(max-width: 992px) {
    .game-iframe-view_gameIframeWrapper.game-iframe-view_tvbet {
        max-width: inherit;
        aspect-ratio: inherit;
        height: 100% !important;
        min-height: 100% !important
    }
}

.game-iframe-view_gameIframeWrapper.game-iframe-view_sportbook {
    height: calc(100vh - 79px) !important;
    min-height: 100%;
    max-width: 100%;
    height: 100%
}

@media(max-width: 992px) {
    .game-iframe-view_gameIframeWrapper.game-iframe-view_sportbook {
        top: 75px;
        z-index: 999;
        height: 100% !important
    }

    .game-iframe-view_gameIframeWrapper.game-iframe-view_sportbook>.game-iframe-view_gameIframe {
        height: calc(100% - 75px)
    }
}

.game-iframe-view_gameIframe {
    width: 100%;
    height: 100%;
    z-index: 0
}

@media(max-width: 992px) {
    .game-iframe-view_gameIframe {
        min-height: auto !important
    }

    .game-iframe-view_gameIframe.game-iframe-view_sportbook {
        height: calc(100% - 50px)
    }
}

.game_interface a {
    cursor: pointer;
}