[data-theme=Light-blue] {
    --background-main: #fff;
    --background-secondary: #e7eaf0;
    --background-tooltip: #263760;
    --background-tabbar: #0a234f;
    --background-toasts: #fff;
    --background-modalview: rgba(1, 8, 28, .65);
    --background-input: #fff;
    --background-banner: rgba(0, 0, 0, .2);
    --control-primary: #b6de13;
    --control-primary-hover: #aec32c;
    --control-disabled: #e7eaf0;
    --control-tertiary: #fff;
    --control-quaternary: #eff2f6;
    --control-deposit: #b6de13;
    --control-deposit-hover: #aec32c;
    --control-secondary: #dbe5ff;
    --control-secondary-hover: #cfdaf6;
    --control-switcher-active: #9eae23;
    --control-inactive-switcher: #cfdaf7;
    --control-switcheron-disabled: #888d5f;
    --control-switcheroff-disabled: #e7eaf0;
    --control-switcher-knob: #fff;
    --control-chips-active: #9eae23;
    --control-always-white: #fff;
    --control-always-white-hover: #efede9;
    --control-disabled-always-light: #faf9f8;
    --control-text-button: transparent;
    --control-text-button-hover: #25262e;
    --control-destructive: #ff6c46;
    --control-freebet: #8f6ed4;
    --control-savebet: #8f6ed4;
    --control-sport-bonus: #5a67d7;
    --text-title: #010814;
    --text-subtitle: #0f1e38;
    --text-body: #233550;
    --text-light: #d1d9e4;
    --text-disable: #a2acbd;
    --text-regular: #233550;
    --text-outcome: #003592;
    --text-always-white: #fff;
    --text-always-light: #b8cbec;
    --text-always-dark: #05081f;
    --text-primary-control: #050e28;
    --text-link: #95a803;
    --text-link-light: #b9d532;
    --text-outcome-down: #fc447e;
    --text-live: #fc447e;
    --text-error: #ff6c46;
    --text-warning: #e2a335;
    --text-success: #1e9700;
    --text-primary-double-button: #0f1832;
    --text-deposit-double-button: #0f1832;
    --text-inversion: #fff;
    --text-deposit-button: #050e28;
    --text-field-outline: #d8deeb;
    --text-field-focused: #9dbef8;
    --text-field-disabled: #eef0f4;
    --text-field-error: #ff6964;
    --section-gamification: #8f6ed4;
    --section-gamification-event: #c31347;
    --section-sport: #78d4ff;
    --section-casino: #dd86e0;
    --section-position: #dfebff;
    --section-casino-position: #2f1b2f;
    --section-gold: #bf9f7a;
    --section-silver: #a2a2a2;
    --section-bronze: #b88b7a;
    --section-mystery-duck: #f7a24c;
    --section-live: #ff6964;
    --section-green-light: #dde88b;
    --section-green: #869700;
    --section-blue-light: #e8f3ff;
    --section-blue: #2785ed;
    --section-orange-light: #fff1da;
    --section-orange: #de8e02;
    --section-red-light: #ffe8e8;
    --section-red: #f33;
    --section-neutral-light: #f5f5f5;
    --section-neutral: #6c707a;
    --section-moderate-blue: #5a67d7;
    --icon-main: #4076d4;
    --icon-chevron: #8eb0ec;
    --icon-hover: #6fa2fc;
    --icon-disabled: #c7ccd7;
    --icon-always-dark: #050e28;
    --icon-always-white: #fff;
    --icon-primary-control: #0f1832;
    --icon-inversion: #263760;
    --icon-notification: #f33;
    --icon-warning: #ff7c00;
    --icon-success: #1e9700;
    --icon-error: #f33;
    --icon-accent: #2785ed;
    --icon-tabbar: #b9d532;
    --icon-tabbar-inactive: #fff;
    --icon-deposit: #889a00;
    --icon-deposit-button: #fff;
    --icon-disabled-always-light: #e6e3de;
    --icon-logotype: #b9d532;
    --divider-main: rgba(71, 84, 114, .1);
    --divider-always-white: hsla(0, 0%, 100%, .1);
    --divider-always-dark: rgba(38, 55, 96, .1);
    --divider-inversion: rgba(64, 118, 212, .5);
    --dynamic-yellow: #8d2054;
    --dynamic-orange: #7c1b0e;
    --dynamic-citric: #9e1f1f;
    --dynamic-green: #055236;
    --dynamic-blue: #072079;
    --dynamic-dark-blue: #2a2753;
    --dynamic-violet: #4a2064;
    --dynamic-pink: #782375;
    --shadow-toasts: hsla(217, 6%, 60%, .2);
    --gradient-loading: linear-gradient(87deg, #575249 -0.94%, rgba(87, 82, 73, .1) 52.39%, #575249 102.49%);
    --gradient-loading-primary: linear-gradient(86.83deg, #aec32c -0.94%, rgba(174, 195, 44, .1) 50.33%, #aec32c 102.49%);
    --gradient-loading-outcome: linear-gradient(87deg, #575249 -0.94%, rgba(87, 82, 73, .1) 52.39%, #575249 102.49%);
    --gradient-loading-deposit: linear-gradient(87deg, #0a4933 -0.94%, rgba(10, 73, 51, .1) 51.31%, #0a4933 102.49%);
    --gradient-black-up: linear-gradient(180deg, rgba(23, 23, 22, 0), rgb(23 23 22/5%) 18.31%, rgba(23, 23, 22, .39) 52.39%, rgba(23, 23, 22, .61) 76.52%, #171716);
    --gradient-black-down: linear-gradient(0deg, rgba(23, 23, 22, 0), rgb(23 23 22/5%) 18.31%, rgba(23, 23, 22, .39) 52.39%, rgba(23, 23, 22, .61) 76.52%, #171716);
    --gradient-white-up: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .02) 9.22%, hsla(0, 0%, 100%, .05) 18.76%, hsla(0, 0%, 100%, .12) 28.48%, hsla(0, 0%, 100%, .2) 38.19%, hsla(0, 0%, 100%, .29) 47.75%, hsla(0, 0%, 100%, .39) 56.99%, hsla(0, 0%, 100%, .5) 65.75%, hsla(0, 0%, 100%, .61) 73.87%, hsla(0, 0%, 100%, .71) 81.18%, hsla(0, 0%, 100%, .8) 87.52%, hsla(0, 0%, 100%, .88) 92.74%, hsla(0, 0%, 100%, .95) 96.66%, hsla(0, 0%, 100%, .98) 99.14%, #fff);
    --gradient-white-down: linear-gradient(0deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .02) 9.22%, hsla(0, 0%, 100%, .05) 18.76%, hsla(0, 0%, 100%, .12) 28.48%, hsla(0, 0%, 100%, .2) 38.19%, hsla(0, 0%, 100%, .29) 47.75%, hsla(0, 0%, 100%, .39) 56.99%, hsla(0, 0%, 100%, .5) 65.75%, hsla(0, 0%, 100%, .61) 73.87%, hsla(0, 0%, 100%, .71) 81.18%, hsla(0, 0%, 100%, .8) 87.52%, hsla(0, 0%, 100%, .88) 92.74%, hsla(0, 0%, 100%, .95) 96.66%, hsla(0, 0%, 100%, .98) 99.14%, #fff);
    --gradient-share-hologram: linear-gradient(90deg, #cf5c5c, #c19b4a 10.07%, #def2a0 19.98%, #c6ee4a 29.89%, #42eca6 40.03%, #64b3d9 50.05%, #208ea2 59.74%, #498ada 70.1%, #5b73df 80.01%, #897ed3 89.92%, #cf5caf);
    --gradient-dark: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .4) 82.81%);
    --gradient-stories: linear-gradient(135deg, #009e69, #e1f038 39%, #e34842 57%, #43c7f4);
    --social-google: #f2f2f2;
    --social-google-hover: #dfe1e3;
    --social-facebook: #1877f2;
    --social-facebook-hover: #2a5fe9;
    --smart-banner-text: #000;
    --smart-banner-domain: #ebebeb;
    --smart-banner-border: rgba(60, 60, 67, .36);
    --smart-banner-ios-background: #fff;
    --smart-banner-ios-second-background: hsla(0, 0%, 100%, .94);
    --smart-banner-android-background: #fff
}